
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$lightskyblue: #87CEFA;
$navy: #000080;
$midnightblue: #191970;
$lime: #00FF00;
$magenta: #FF00FF;
$gold: #FFD700;
$orange: #FFA500;
$darkorange: #FF8C00;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}